<yeijara-sidenav></yeijara-sidenav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 margin-bottom-10">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/nequi.jpg" alt="Nequi" style="border-bottom: 1px solid #343a40; height: 184px;">
                <div class="card-body">
                    <h5 class="card-title">NEQUI</h5>
                    <p class="card-text">
                        Gestionar datos de Nequi.
                    </p>
                    <div style="text-align: right">
                        <button type="button" class="btn btn-primary" (click)="goNequi()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 margin-bottom-10">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/wiki.jpg" alt="Nequi" style="border-bottom: 1px solid #343a40; height: 184px;">
                <div class="card-body">
                    <h5 class="card-title">WIKI</h5>
                    <p class="card-text">
                        Base de datos de Wiki.
                    </p>
                    <div style="text-align: right">
                        <button type="button" class="btn btn-primary" (click)="goNequi()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>